* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color-scheme: dark;
  background-color: #111;
  font-family: system-ui;
  font-size: 22px;
}

main {
  display: grid;
  place-content: center;
  min-height: 80vh;
}

.quiz-app {
  display: grid;
  place-content: center;
  margin: 0
}

.quiz-app-container-div {
  display: flex;
  flex-direction: row;
}

.quiz-app-score {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
  width: 400px;
}

.quiz-app-options {
  display: flex;
  width: 205px;
  flex-direction: column;
  gap: 20px 0
} 

@tailwind base;
@tailwind components;
@tailwind utilities;